# Lab-Data-Manipulation (PART-1)

In [ ]:
import pandas as pd

# Context 

For this lab you'll use a dataset for UFO observations. The objective is to exercise the manipulation of a dataframe, so we'll use the tools we've learned about `reading`, `renaming`, `selecting specific columns`, `filtering based on conditions` and `merging` dataframes to try to better understand our dataset and store an enriched version of our dataset at the end.

Good Luck.

variable	|class|	description
------------|-----|-------------
date_time	|datetime (mdy h:m)	| Date time sighting occurred
city_area	|character	        | City or area of sighting
state	    |character          |	state/region of sighting
country	    |character          |	Country of sighting
ufo_shape	|character          |	UFO Shape
encounter_length	|double     |	Encounter length in seconds
described_encounter_length	|character |	Encounter length as described (eg 1 hour, etc)
description	|character          |	Description of encounter
date_documented	|character      |	Date documented
latitude	|double             |	Latitude
longitude	|double             |	Longitude

## Read the dataset and store it in a dataframe called `ufo`

Pay attention at the file separator.

In [ ]:
ufo = pd.read_csv('data/ufo.csv', sep = ';')
ufo.head()

## Check the first 6 columns of the dataframe

In [ ]:
#data[['Unnamed: 0', 'date', 'year', 'month', 'day', 'date_time']][3]
ufo.loc[:, :'date_time']
#data.iloc[:, :6]

## Check the shape of your dataframe to see how many rows and columns it has

In [ ]:
data.shape

## Bring the date information to the beginning of the dataframe

If you check the dataframe columns, there are some information of the date at the end of the dataframe. For this task, you should reorder the columns in a way that the first few columns all show the date information. 

*Hint: Use the ufo.columns to see all the column names you have.

In [ ]:
ufo.columns.tolist()

In [ ]:
column_order = ['Unnamed: 0', 'date','year', 'month', 'day', 'date_time', 'date_documented', 'city_area','state', 'country', 'ufo_shape', 'encounter_length', 'described_encounter_length', 'description', 'latitude', 'longitude']
 
ufo = ufo[column_order]

## Just check if you did it the right way. Take a look at the head of the dataframe again and see if the `ufo` dataframe now is reordered.

In [ ]:
ufo.head()

## Select a piece of your dataframe. Create a new dataframe called `ufo_vars` and select only the following columns of the `ufo` dataframe. 

`year`, `month`, `state`, `country`, `ufo_shape`, `encounter_length`

In [ ]:
ufo_vars = ufo[['year', 'month', 'state', 'country', 'ufo_shape', 'encounter_length']]
ufo_vars

Perform a *.head()* on your result to check if you did it right.

Expected output:

>
> |    |   year |   month | state   | country   | ufo_shape   |   encounter_length |
|---:|-------:|--------:|:--------|:----------|:------------|-------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |               2700 |
|  1 |   1949 |      10 | tx      | nan       | light       |               7200 |
|  2 |   1955 |      10 | nan     | gb        | circle      |                 20 |
|  3 |   1956 |      10 | tx      | us        | circle      |                 20 |
|  4 |   1960 |      10 | hi      | us        | light       |                900 |

In [ ]:
ufo_vars.head()

## Rename the variable `encounter_length` to `encounter_seconds`. Keep using the `ufo_vars` dataset for the following tasks, unless specifically specified.

Again, check your results to check if you did it right.

Expected output:

>
>|    |   year |   month | state   | country   | ufo_shape   |   encounter_seconds |
|---:|-------:|--------:|:--------|:----------|:------------|--------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |                2700 |
|  1 |   1949 |      10 | tx      | nan       | light       |                7200 |
|  2 |   1955 |      10 | nan     | gb        | circle      |                  20 |
|  3 |   1956 |      10 | tx      | us        | circle      |                  20 |
|  4 |   1960 |      10 | hi      | us        | light       |                 900 |

In [ ]:
ufo_vars = ufo_vars.rename(columns={'encounter_length':'encounter_seconds'})
 
ufo_vars.columns
ufo_vars.head()

## Let's start filtering some records. Create a new dataframe called `ufo_us` and filter the `ufo_vars` dataframe bringing only the results in which the `country` is `"us"`

### Use a mask to perform this task 

A `mask` is nothing more than a condition. This condition is applied to your whole dataframe (or pandas Series).
So for example, if you had a pandas Series with a variable called `Age`, you could create a mask for all people whose `Age` is less than 18 years old using the syntax:

`df['Age'] <= 18`

This would return a pandas series containing `True` and `False` values. For each index, you'd get a value of `True` or `False`.

You could save this mask in a variable, for example:

`condition = (df['Age'] <= 18)`

And then you could use that variable `condition` to select only the cases of the dataframe in which the index returned `True` using:
df[condition].

Expected output:

>
>|    |   year |   month | state   | country   | ufo_shape   |   encounter_seconds |
|---:|-------:|--------:|:--------|:----------|:------------|--------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |                2700 |
|  3 |   1956 |      10 | tx      | us        | circle      |                  20 |
|  4 |   1960 |      10 | hi      | us        | light       |                 900 |
|  5 |   1961 |      10 | tn      | us        | sphere      |                 300 |
|  7 |   1965 |      10 | ct      | us        | disk        |                1200 |

In [ ]:
condition = (ufo_vars['country'] == 'us')
ufo_us = ufo_vars[condition]
ufo_us.head()

### Use the .query() method to perform the same task

Remember that the .query() method expects a string. That string should contain the variable of your dataframe without quotation marks and the comparison. For example, if you had a variable called `name`, you'd use a syntax like:
 `df.query('name == "Jack"')`
 
to bring all observations whose column `name` is exactly equal to `"Jack"` (note that Jack should be within quotation marks because a name is a string in this example).

In [ ]:
ufo_us = ufo_vars.query('country == "us"')
ufo_us.head()

See which one do you prefer the most and keep using it for the exercises that follow

## For the `ufo_us` dataframe, select only the cases in which the year is in the first decade (2001-2010). Put that in a variable called `ufo_us_2000`.

Check your results.

In [ ]:
condition = ((ufo_us['year'] > 2000) & (ufo_us['year'] < 2010))
ufo_us_2000 = ufo_us.loc[condition]
ufo_us_2000.head()

## Try to do the same without the intermediate step of creating the `ufo_us` dataframe. That is, try to filter the dataset for the cases in which the country is "us" and the year is (2001-2010)



*Hint:* You have to make sure all of these conditions are applied simultaneously - using the `and` (or `&`) operator. Try to understand when to use the `and` and the `&` operator.

In [ ]:
conditions = (ufo_vars['year'] > 2000) & (ufo_vars['year'] < 2010) & (ufo_vars['country'] == 'us')
ufo_vars.loc[conditions]
ufo[conditions]

## BONUS 1:  Compare the number of triangular UFO occurrances (checking the `ufo_shape` variable) in the US from the year 2001 up to 2010 as compared to the years of 1991 up to 2000.

*Hint: you should expect roughly ~3 times more cases for 2001-2010 than 1991-2000.*

In [ ]:
# calculate the dataframe from 2001-2010 here

ufo_us['ufo_shape'].loc[(ufo_us['year'] > 2000) & (ufo_us['year'] < 2010) & (ufo_us['ufo_shape'] == 'triangle')].shape

In [ ]:
# calculate the dataframe from 1991-2000 here

ufo_us['ufo_shape'].loc[(ufo_us['year'] > 1991) & (ufo_us['year'] < 2000) & (ufo_us['ufo_shape'] == 'triangle')].shape

How many rows does each dataset have?

## BONUS 1.1: How many values does each category of `ufo_shape` has. 

Expected output:

````
        light        16565
        triangle      7865
        circle        7608
        fireball      6208
        other         5649
        unknown       5584
        sphere        5387
        disk          5213
        oval          3733
        formation     2457
        cigar         2057
        changing      1962
        flash         1328
        rectangle     1297
        cylinder      1283
        diamond       1178
        chevron        952
        egg            759
        teardrop       750
        cone           316
        cross          233
        delta            7
        round            2
        crescent         2
        dome             1
        pyramid          1
        changed          1
        hexagon          1
        flare            1
        Name: ufo_shape, dtype: int64

````

In [ ]:
ufo_vars['ufo_shape'].value_counts()

# Lab-Data-Manipulation (PART-2)

The second part of this lab consists of grouping and merging results.

# Grouping up the results.

## Let's calculate the average of the encounter for each country.

We should now group the results by the country column to see what is the mean encounter_seconds for each country. Do this using the `groupby` method of your dataframe `ufo_vars`. What is the average of the encounter for the us? And for Canada?

Remember that after grouping by a column, you have to specify a `aggregating function`. If you don't do that, the results of the groupby will only be a `groupby` pandas object. For this case, we want the aggregating function to be the `mean` function and then the results will appear for us.

Also remember that **if you don't** specify the `as_index=False` argument, the variables you use to group are going to become your new indexes.

Expected output:

>
>|    | country   |    year |   month |   encounter_seconds |
|---:|:----------|--------:|--------:|--------------------:|
|  0 | au        | 2002.69 | 6.12825 |             3806.47 |
|  1 | ca        | 2003.69 | 6.86167 |            28859.43 |
|  2 | de        | 2001.54 | 6.24762 |            24255.98 |
|  3 | gb        | 2003.65 | 6.5622  |            66061.32 |
|  4 | us        | 2004.09 | 6.8616  |             5800.19 |

In [ ]:
avg_encounter = ufo_vars.groupby(by='country').mean().reset_index()

avg_encounter.head()

## Perform the same task, but instead of calculating the mean, count how many occurrances for each country.

For this case, the aggregating function should be the `count` function. Try to understand the results for each column.

Expected output:

>
>|    | country   |   year |   month |   state |   ufo_shape |   encounter_seconds |
|---:|:----------|-------:|--------:|--------:|------------:|--------------------:|
|  0 | au        |    538 |     538 |      10 |         527 |                 538 |
|  1 | ca        |   3000 |    3000 |    2985 |        2955 |                3000 |
|  2 | de        |    105 |     105 |       0 |         103 |                 105 |
|  3 | gb        |   1905 |    1905 |      12 |        1855 |                1905 |
|  4 | us        |  65114 |   65114 |   65114 |       63561 |               65112 |

In [ ]:
count_each_country = ufo_vars.groupby(by='country').count().reset_index()

count_each_country

## Perform the same task, but instead of calculating the mean, use the `.describe()` aggregating function to see the effects.

The describe aggregating function will show you several important statistics for the grouped results, such as `mean`, `median`, `standard deviation`, `count`, `max`, `min`, and so on.

*Hint: If it starts to get difficult to see the results, you can tranpose the resulting dataframe by just putting a `.T` at the end.*

Expected output:

>
>|                   |   count |       mean |          std |      min |   25% |   50% |   75% |           max |
|:------------------|--------:|-----------:|-------------:|---------:|------:|------:|------:|--------------:|
| year              |   80332 | 2003.85    |     10.4268  | 1906     |  2001 |  2006 |  2011 | 2014          |
| month             |   80332 |    6.83491 |      3.23486 |    1     |     4 |     7 |     9 |   12          |
| encounter_seconds |   80329 | 9017.23    | 620228       |    0.001 |    30 |   180 |   600 |    97836000   |

In [ ]:
describe_each_country = ufo_vars.describe().T

describe_each_country

## Now, let's get deeper in the analysis and group the results not only by country. But by `country` and `year`

### Check the values of the mean and count for the `encounter_seconds` variable for each year. Can you see some discrepancy?

*Hint*: If you want, you can use the `ufo_us` dataset just to see the results for the united states. You could also (in a hacky way) perform the filter right before the groupby operation if you wanted.

In [ ]:
describe_by_country_and_year = ufo_vars.groupby(['country', 'year']).agg(['mean', 'count'])['encounter_seconds']

describe_by_country_and_year

# BONUS 2: Which months are the ones with the highest numbers of occurrences?

**Example of output:**

>
>|   month |   occurrences |
|--------:|--------------:|
|       7 |          9520 |
|       8 |          8636 |
|       6 |          8152 |
|       9 |          7589 |
|      10 |          7407 |
|      11 |          6739 |
|       1 |          5689 |
|      12 |          5665 |
|       4 |          5527 |
|       3 |          5450 |
|       5 |          5293 |
|       2 |          4665 |

In [ ]:
highest_mongh_ocurrences = ufo_us.groupby(by='month').max().reset_index()
highest_mongh_ocurrences

#ufo_vars.groupby('month').agg(occurrences = ('year', 'count')).sort_values(by = 'occurrences', ascending = False)

# BONUS 3: Finally, you gathered information about the UFO dataset. Using your last result, try to bring that information for your original dataset.

1. Store the results of your previous analysis (the mean value for the encounter_seconds for each year and each country) in a dataframe called `avg_results`. 

Expected output:
>
>|     | country   |   year |   encounter_seconds |
|----:|:----------|-------:|--------------------:|
|   0 | au        |   1958 |      2700           |
|   1 | au        |   1960 |       180           |
|   2 | au        |   1967 |       300           |
|   3 | au        |   1968 |       300           |
|   4 | au        |   1972 |       403.333       | 
|   ... | ...        |   ... |       ...       | 
| 277 | us        |   2010 |      2271.99        |
| 278 | us        |   2011 |      2544.29        |
| 279 | us        |   2012 |     10640.6         |
| 280 | us        |   2013 |      1266.39        |
| 281 | us        |   2014 |       782.373       |

In [ ]:
#avg_results = ufo_vars[['country', 'year', 'encounter_seconds']].groupby(['country', 'year']).mean().reset_index()
#avg_results

2. Rename the column named `encounter_seconds` to `avg_encounter_seconds`.

Expected output:
>
>|     | country   |   year |   avg_encounter_seconds |
|----:|:----------|-------:|--------------------:|
|   0 | au        |   1958 |      2700           |
|   1 | au        |   1960 |       180           |
|   2 | au        |   1967 |       300           |
|   3 | au        |   1968 |       300           |
|   4 | au        |   1972 |       403.333       | 
|   ... | ...        |   ... |       ...       | 
| 277 | us        |   2010 |      2271.99        |
| 278 | us        |   2011 |      2544.29        |
| 279 | us        |   2012 |     10640.6         |
| 280 | us        |   2013 |      1266.39        |
| 281 | us        |   2014 |       782.373       |

In [ ]:
#avg_results = avg_results.rename({'encounter_seconds':'avg_encounter_seconds'}, axis = 1)
#avg_results

3. Use the pd.merge( ... ) function to bring that new collected information to your original dataset.
The pd.merge() function requires several arguments, let's understand the most important ones.

`left` is the dataframe you want to bring information **to** - the table on the left. In this case, this will be our original dataframe called `ufo`

`right` is the dataframe you want to bring information **from** - the table on the right. In this case, this will be our resulting dataframe `avg_results`.

`on` is the key you want to perform the merge. That is, if those values are **exactly equal** in both dataframes, then the information will be brought.

Put your results on a dataframe called `merged_ufo`

In [ ]:
#merged_ufo = pd.merge(left = ufo, right = avg_results, on = ['country', 'year'])
#merged_ufo.head()

Check how many rows the final result has and try to explain it. Did the dataset get smaller? Bigger? Or the same? Can you explain why? 

*hint: If you've found something weird, try looking back at your original dataframe and find something interesting on it.*

In [ ]:
#merged_ufo.shape

## Store the results into a new csv file called `ufo_enriched.csv`. 

Don't forget to use `index=False`.

In [ ]:
#merged_ufo.to_csv('ufo_enriched.csv', index = False)